html, body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  background: linear-gradient(to bottom, #70c5ce, #ffffff);
  height: 100%;
}

#gameCanvas {
  display: block;
  width: 100vw;
  height: 100vh;
  background-color: #70c5ce;
}
